<title> CUSTOM LOGIN FORM </title>

<style type="text/css">
    div { display:flex; flex-direction:column; align-items:center; border: solid 1pt; margin: 10pt 50pt; background-color: aliceblue }
</style>

<div>
  <h2> CUSTOM LOGIN FORM </h2>
  <form method="POST" action="/Authenticate">
    <p> <input type="text"   name="username"  placeholder="username" /> </p>
    <p> <input type="text"   name="password"  placeholder="password" /> </p>
    <p> <input type="submit" value="Log In"   style="width:100%"     /> </p>
  </form>
</div>
